{% extends 'base.html.twig' %}

{% block title %}Impact{% endblock %}

{% block body %}
    <h1>Impact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ impact.id }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ impact.niveau }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ impact.libelle }}</td>
            </tr>
            <tr>
                <th>Prompt</th>
                <td>{{ impact.prompt }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ impact.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_impact_index') }}">back to list</a>

    <a href="{{ path('app_impact_edit', {'id': impact.id}) }}">edit</a>

    {{ include('impact/_delete_form.html.twig') }}
{% endblock %}
