{% extends 'base.html.twig' %}

{% block title %}Ticket
{% endblock %}

{% block body %}
	<div
		class="blocshowdetail flex:auto flex flex-row justify-between h-screen w-full bg-gray-100">

		<!--Détail du ticket-->
		<div class="detailTicket w-4/5">
			<h1>Ticket</h1>

			<table class="table">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ ticket.id }}</td>
					</tr>
					<tr>
						<th>Titre</th>
						<td>{{ ticket.titre }}</td>
					</tr>
					<tr>
						<th>Description</th>
						<td>{{ ticket.description }}</td>
					</tr>
					<tr>
						<th>PrioriteCalculee</th>
						<td>{{ ticket.prioriteCalculee }}</td>
					</tr>
					<tr>
						<th>DateCreation</th>
						<td>{{ ticket.dateCreation ? ticket.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
					</tr>
					<tr>
						<th>DateCloture</th>
						<td>{{ ticket.dateCloture ? ticket.dateCloture|date('Y-m-d H:i:s') : '' }}</td>
					</tr>
				</tbody>
			</table>

			<a href="{{ path('app_ticket_index') }}">back to list</a>

			<a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}">edit</a>

			{{ include('ticket/_delete_form.html.twig') }}
		</div>
		<!--sidebar droite-->
		<aside class="h-screen w-1/5" style=" background-color: oklch(58.6% 0.253 17.585);">
			<div class="Messagerie"></div>
			<h2>Messagerie</h2>
		</aside>
	</div>
{% endblock %}
